<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>PickONE Library INFO</title>
</head>
    <body>
        <h2 class="logo">PickONE Library</h2>
        <div class="logo"><h4 class="footer-gradient">Powered by ONE AI</h4></div>
        <div class="spazio"></div>
        <p>Non è la pagina che volevi? <a href="{{ url_for('home') }}">Torna alla pagina di accesso ↪</a></p>
        <hr>
        <div class="footer-style">
            <footer class="site-footer">
                © {{ anno_corrente }} PickONE Library realizzato da Simone Carassale
            </footer>
            <footer class="footer-gradient">
                <a href="{{ url_for('info_oneai') }}" class="footer-gradient">
                Powered by ® ONE AI ↪
                </a>
            </footer>
        </div>
    </body>
</html>